<!DOCTYPE html>
<html lang="en">
<head>
    <! bootstrap css>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/try.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

        <div class="help_text">
            <h4><b>Instructions for using ERGO-II, the TCR-Peptide binding predictor</b></h4>
                <ul>
                    <br>
                    <li>
                        <h5><b>1. Specify input</b></h5>
                        The input file must be in .csv format as in the provided example (case sensitive).<br>
                        The file should be a CSV table with several columns, matching the relevant features.<br>
                        The file have to include the column headers 'TRA', 'TRB', 'TRAV', 'TRAJ', 'TRBV', 'TRBJ', 'T-Cell-Type', 'Peptide' and 'MHC', even if not all features are used.<br>
                        Leave blank spots for missing features, yet 'TRB' and 'Peptide' sequences must appear in each line.<br>
                        ERGO-II expects TCR sequences to begin with Cysteine ('C') and finish with Phenylalanine ('F').<br>
                        Make sure your file contain only upper-cased amino-acid letters, without any other characters as '*', 'X' or non-ascii characters.<br>
                        T-Cell-Type can be 'CD4' or 'CD8'.<br>
                        The model prediction might crash for wrong input files.<br>
                        When using the Autoencoder based model, notice that the TCR length should be at most 28. The model will only use the first 28 amino acids for longer TCR sequences.
                        There is no length limit on the peptides.<br>
                        Predict up to 50,000 pairs at a time. For longer files, you can split your file into chunks.<br><br>
                    </li>
                    <li>
                        <h5><b>2. Model Configurations </b></h5>
                        Choose the model configuration for the prediction.<br>
                        ERGO-II is trained using two distinct models: the autoencoder based model or the LSTM based model.<br>
                        You can also choose the database that the model used for training: McPAS or VDJdb.<br>
                        Additional features such as TCR alpha sequence, V and J genes, MHC and T-Cell-Type can be used.<br>
                        Note that this webtool allows you to choose only configurations that ERGO-II has already trained on.<br><br>
                    </li>
                    <li>
                        <h5><b>3. Submit to prediction </b></h5>
                        Click on the 'predict' button to get the binding prediction scores.<br><br>
                    </li>
                    <li>
                        <h5><b>4. Download results </b></h5>
                        The results format is a csv file similar to the input format, with an additional score column,<br>
                        which contains the model predictions between 0 and 1 for each row.<br>
                        For example, see the output file in the 'Example' section.<br><br>
                    </li>
                </ul>
        </div>


    <! bootstrap >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>
